<header>
	<div class="container">

		<div class="profile">

			<div class="profile-image">
        <% if user.avatar.attached?%>
         <%= image_tag user.avatar,alt: "avatar", height: "152", width: "152"%>
        <% else%>
				  <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="">
        <% end %>
			</div>

			<div class="profile-user-settings">
            
			<h1 class="profile-user-name"><%= user.user_name%></h1>
            <% if Follow.where(follower_id: current_user.id).where(followed_user_id: user).exists?
%>              
            <%= button_to 'Unfollow', "/follows/#{user.id}",method: :delete,class: "btn btn-secondary"%>
            <% else %>
            <%= button_to 'Follow', follows_path(@user), method: :post,class: "btn btn-primary"%>
            <% end %>
		  </div>
			<div class="profile-stats">

				<ul>
					<li><span class="profile-stat-count"><%=user.posts.count%></span> posts</li>
					<li><span class="profile-stat-count"><%=user.followers.count%></span> followers</li>
					<li><span class="profile-stat-count"><%=Follow.where(follower_id: user.id).count
%></span> following</li>
				</ul>

			</div>
<br>
<br>
<br>
<br>

			<div class="profile-bio">

				<p><span class="profile-real-name"><%=user.user_name%></span><%= user.bio%></p>

			</div>
<br>
<br>
<br>

		</div>
		<!-- End of profile section -->

	</div>
	<!-- End of container -->

</header>

<main>
<% if user==current_user||current_user.admin?
%>  
	<div class="container">
    <%Post.where(user_id: user.id).each do|post|%>
		<div class="gallery">
			<div class="gallery-item" tabindex="0">
				 <%=image_tag post.image.to_s,class: "gallery-image"%>
                 <%= link_to "Destroy", post_path(post), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } , class: 'btn btn-danger mr-2'%>
         <div class="gallery-item-type">
					<span class="visually-hidden">Gallery</span><i class="fas fa-clone" aria-hidden="true"></i>
				</div>
        <div class="gallery-item-info">
					<ul>
						<li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> <%= post.likes.count%></li>
						<li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i><%= post.poly_comments.count %></li>
					</ul>
          </div>
			</div>
		</div>
    <% end %>
    
		<!-- End of gallery -->

		<div class="loader"></div>
<% elsif Follow.where(follower_id: current_user.id).where(followed_user_id: user).exists?
%>  
	<div class="container">
    <%Post.where(user_id: user.id).each do|post|%>
		<div class="gallery">
			<div class="gallery-item" tabindex="0">
				 <%=image_tag post.image.to_s,class: "gallery-image"%>
         <div class="gallery-item-type">
					<span class="visually-hidden">Gallery</span><i class="fas fa-clone" aria-hidden="true"></i>
				</div>
        <div class="gallery-item-info">
					<ul>
						<li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i><%= post.likes.count%> </li>
						<li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i><%= post.poly_comments.count %></li>
					</ul>
          </div>
			</div>
		</div>
    <% end %>
    
		<!-- End of gallery -->

		<div class="loader"></div>
            <% end %>
	</div>
	<!-- End of container -->

</main>
<%= render 'style'%>