<% if user_signed_in? %>
<%= render 'navbar'%>
<p id="notice"><%= notice %></p>
<hr>
<% @posts=(Post.all.order(created_at: :desc))%>
<% @posts.each do |post| %>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><%= link_to post.description, new_poly_comment_path(post) %></h5>
      <p class="card-text"><%=image_tag post.image.to_s, :size => "1085x600"%></p>
      <%= button_to "report", complain_path(post), method: "put",style:"color:black;border:0px; background-color:white;"%>
      <% if post.liked?(current_user)%>
        <%= button_to '♥️',destroy_like_path(post.likes.find_by(user_id: current_user.id)), method: :get, style:"color:red; border:0px; background-color:white;"%>
        <% else %>
        <%= button_to "♥️", like_path(post), method: "put",style:"color:black;border:0px; background-color:white;"%>
        <% end%>
        <p><%= post.likes.count%></p> 

      <%= render 'poly_comments/show', post: post%>  
    </div>
  </div>
<% end %>
<% else %>
  <%= button_to "Sign in", new_user_session_path,  class: "btn btn-info" %>
<% end %> 

